/* SCATTER PLOT CSS */

/* Main Dash page div that holds the scatter plot */
#main_dash_scatter_div {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;


}

/* card holding the scatter plot*/
#scatter_plot_card {
    border-radius: 10px;
    overflow: hidden;
    }

 /* div holding the scatter plot and additional buttons*/
#scatter_plot_div {
    margin-top:10px;
    position: relative;
    height: 100%;
    margin-right: 20px;

   }


/* dcc.Graph the scatter plot*/
#scatter_plot {
    width: 100%;
    height: 60vh;

}

@media screen and (min-width: 0px) and (max-width:950px) {
    #scatter_plot_div {
        position: relative;
        height: 100%;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-right: 20px;

    }
}

/* LINE PLOT CSS */
#main_dash_line_div {

}
/* dcc.Graph the line plot*/
#line_plot {
    width: 100%;
    height: 50vh;
}

#line_plot_div{
    position: relative;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 0px;
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (min-width: 0px) and (max-width:950px) {
    #line_plot_div{
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;


    }
}


/* ERROR BAR PLOT CSS */

#main_dash_error_bar_div {

}

#error_plot {
  width: 100%;
  height: 50vh;
  }
#error_bar_plot_div{
        position: relative;
        margin-bottom: 10px;
        margin-top: 20px;
        margin-right: 20px;
        buffer-right: 20px;
        border-radius: 10px;
        overflow: hidden;
  
}

@media screen and (min-width: 0px) and (max-width:950px) {
    #error_bar_plot_div{
        position: relative;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 10px;
        buffer-right: 00px;
        border-radius: 10px;
        overflow: hidden;



    }
}