
/* SCATTER PLOT CSS */

/* Main Dash page div that holds the scatter plot */
#main_dash_scatter_div {
    height: 100%;
    border-radius: 10px;
}
/* card holding the scatter plot*/
#scatter_plot_card {
    border-radius: 10px;
    overflow: hidden;
    }

 /* div holding the scatter plot and additional buttons*/
#scatter_plot_div {
    margin-top:10px;
    position: relative;
    height: 100%;
    width:98%;

    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;/* Add border style */
    border: 2px solid #ccc;
    box-shadow: 5px 5px 5px lightblue;


   }

/* dcc.Graph the scatter plot*/
#scatter_plot {
    width: 100%;
    height: 60vh;

}

@media screen and (min-width: 0px) and (max-width:950px) {
    #scatter_plot_div {
        position: relative;
        height: 100%;
        width: 96%;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-right: 20px;
        border: 2px solid #ccc;


    }
}

/* LINE PLOT CSS */
#main_dash_line_div {

}
/* dcc.Graph the line plot*/
#line_plot {
    width: 100%;
    height: 50vh;
}

#line_plot_div{
    position: relative;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 0px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    border: 2px solid #ccc; /* Add border style */
    box-shadow: 5px 5px 5px lightblue;

}

@media screen and (min-width: 0px) and (max-width:950px) {
    #line_plot_div{
    position: relative;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    border: 2px solid #ccc; /* Add border style */
    box-shadow: 5px 5px 5px lightblue;
    font-family: 'Calibri', sans-serif;


    }
}

/* the profile envelope checklist */
#Range_plot{
 position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    width: 140px;
    height: 25px;
    z-index: 100;
    border-radius: 15px;
    box-shadow: 5px 5px 5px lightblue;
    padding-top: 5px; /* Adjust padding top */
    padding-right: 5px; /* Adjust padding right */
    padding-bottom: 8px; /* Adjust padding bottom */
    padding-left: 8px; /* Adjust padding left */
    font-size: 15px;
    font-family: 'Calibri', sans-serif;


}


/* Media query for smaller screens (adjust max-width and font size as needed) */
@media screen and (min-width: 951px) and (max-width: 1400px) {
   #Range_plot{
    position: absolute;
    top: 35px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    width: 120px;
    height: 25px;
    z-index: 100;
    border-radius: 15px;
    box-shadow: 5px 5px 5px lightblue;
    padding-top: 5px; /* Adjust padding top */
    padding-right: 5px; /* Adjust padding right */
    padding-bottom: 8px; /* Adjust padding bottom */
    padding-left: 8px; /* Adjust padding left */
    font-size: 13px;
    font-family: 'Calibri', sans-serif;
}
}

@media screen and (min-width: 0px) and (max-width:950px) {

#Range_plot{
 position: absolute;
    top: 35px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    width: 120px;
    height: 25px;
    z-index: 100;
    border-radius: 15px;
    box-shadow: 5px 5px 5px lightblue;
    padding-top: 5px; /* Adjust padding top */
    padding-right: 5px; /* Adjust padding right */
    padding-bottom: 8px; /* Adjust padding bottom */
    padding-left: 8px; /* Adjust padding left */
    font-size: 13px;
    font-family: 'Calibri', sans-serif;

}

}
#error_bar_dropdown_holder-div {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 130px;
    height: 35px;
    z-index: 100; /* CSS uses 'z-index' instead of 'zIndex' */
}

@media screen and (min-width: 951px) and (max-width: 1400px) {
    #error_bar_dropdown_holder-div {
        position: absolute;
        top: 35px;
        left: 10px;
        width: 130px;
        height: 35px;
        z-index: 100; /* CSS uses 'z-index' instead of 'zIndex' */
    }
}
@media screen and (min-width: 0px) and (max-width:950px) {

#error_bar_dropdown_holder-div {
        position: absolute;
        top: 35px;
        right: 10px;
        width: 130px;
        height: 35px;
        z-index: 100; /* CSS uses 'z-index' instead of 'zIndex' */
    }

}

/* ERROR BAR PLOT CSS */

#main_dash_error_bar_div {

}

#error_plot {
  width: 100%;
  height: 50vh;
  }
#error_bar_plot_div{
        position: relative;
        margin-bottom: 10px;
        margin-top: 20px;
        margin-right: 20px;
        buffer-right: 20px;
        border-radius: 10px;
        overflow: hidden;
        border: 2px solid #ccc; /* Add border style */
        box-shadow: 5px 5px 5px lightblue;

  
}

@media screen and (min-width: 0px) and (max-width:950px) {
    #error_bar_plot_div{
        position: relative;
        margin-bottom: 0px;
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 10px;
        buffer-right: 00px;
        border-radius: 10px;
        overflow: hidden;
        border: 2px solid #ccc; /* Add border style */
        box-shadow: 5px 5px 5px lightblue;



    }
}