#loader_div {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    zIndex: 9999;
    }


/* Media query for smaller screens (adjust max-width and font size as needed) */
@media screen and (min-width: 430px) and (max-width:950px) {
   #loader_div {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        zIndex: 9999;

        /* Adjust font size for smaller screens */
    }

    }
@media screen and (min-width: 0px) and (max-width:430px) {
   #loader_div {
        position: absolute;
        top: 30px;
        left: 73%;

        zIndex: 1000;

        /* Adjust font size for smaller screens */
    }

    }



